chromium
Code - OSS
configstore
dconf
DisplayCAL
Electron
gambas3
gtk-3.0
mc
neofetch
pulse
ranger
Thunar
xfce4
yay
pavucontrol.ini
q
vlc
xarchiver
qBittorrent
doctl
mimeapps.list
QtProject.conf
NoSQLBooster for MongoDB
nextjs-nodejs
gconf
rofi
Kitematic
enchant